name: CLI

on:
  pull_request:
  push:
    paths:
      - .github/workflows/cli.yml
      - pyproject.toml
      - uv.lock
      - transcriber/**
      - captions/**
      - cli/**

jobs:
  install:
    runs-on: ${{ matrix.runs-on }}-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, "3.10", 3.11, 3.12, 3.13]
        runs-on: [ubuntu, windows, macos]
    defaults:
      run:
        working-directory: cli

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          show-progress: false

      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.0
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true
          cache-dependency-glob: "**/uv.lock"

      - name: Install project
        run: uv pip install .

  complete:
    needs: install
    runs-on: ubuntu-latest

    steps:
      - name: Complete
        run: echo "All jobs completed successfully."
