name: CLI

on:
  pull_request:
  push:
    paths:
      - .github/workflows/cli.yml
      - pyproject.toml
      - uv.lock
      - transcriber/**
      - captions/**
      - cli/**

jobs:
  build:
    strategy:
      matrix:
        python-version: [3.8, 3.9, "3.10", 3.11, 3.12, 3.13]
        runs-on: [ubuntu, windows, macos]
    uses: winstxnhdw/actions/.github/workflows/uv.yml@main
    with:
      runs-on: ${{ matrix.runs-on }}-latest
      python-version: ${{ matrix.python-version }}
      disable-lint: true
      disable-type-check: true
      disable-test: true
      install-project: true
      working-directory: cli

  complete:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Complete
        run: echo "All jobs completed successfully."
